<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Email</title>
</head>
<body style="background: rgb(247, 247, 247) none repeat scroll 0% 50%; ">
<table bgcolor="#f7f7f7" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding-top: 20px; padding-bottom: 20px;">
<table style="border: 8px solid rgb(241, 241, 241); font-family: Verdana; font-size: 12px;" align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="600">
<tbody>
<tr>
<td style="padding: 5px;" valign="top">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td valign="top" width="421">
<table align="right" border="0" cellpadding="0" cellspacing="0" height="87" width="100%">
<tbody>
<tr>
<!--
<td style="padding: 15px;" background="{BASE_PATH}images/backgrounds/bkg_header.jpg"> -->
<p style="margin: 0px; padding: 0px; font-family: 'Helvetica'; color: rgb(0, 0, 0); font-size: 24px; letter-spacing: -1px; font-weight: normal; line-height: 34px;">Welcome to {SITE_NAME}</p>
</tr>
<tr>
<td style="padding: 0px 15px 20px;">
<p style="font-size:12px">
<br />Greetings!<br /><br />
You or someone used this email to register for an account on <a href="{SITE_ADDRESS}">{SITE_NAME}</a><br /><br />
Click on the link below, and enter your username to verify and activate your account<br />
<a href="{SITE_ADDRESS}verify.php?v={VCODE}&e={ECODE}">{SITE_ADDRESS}verify.php?v={VCODE}&e={ECODE}</a><br /><br />
If you are having problems clicking on the link:
<ul style="font-size: 12px">
	<li>Go to <a href="{SITE_ADDRESS}verify.php">{SITE_ADDRESS}verify.php</a></li>
	<li>Enter Verification Code: {ECODE}</li>
	<li>Enter Activation Code: {VCODE}</li>
	<li>Click on "Activate Account"</li>
</ul>
<p style="font-size: 12px;">Contact the admin at {ADMIN_EMAIL} for further clarification</p>
If you did not register for this account, please ignore this mail
<p>
</p>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" style="padding: 10px 15px; font-size: 10px; color: rgb(51, 51, 102);" bgcolor="#f5f5f5" valign="top">
Regards,<br />{ADMIN_NAME}
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="padding-top: 20px; padding-bottom: 20px;">&nbsp;
</td>
</tr>
</tbody>
</table>
</body>
</html>